@model video.Models.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGravação)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalGravação)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoExtencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoExtencao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoDuracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoDuracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoAssunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoAssunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoDescricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VideoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
